/* General Style */
a.topSortLink:link, a.postUser:link, a.postNumberLink:link, a.postIpLink:link, a.link:link {
    text-decoration: underline;
    color: #4D6D91;
}

a.topSortLink:active, a.postUser:active, a.postNumberLink:active, a.postIpLink:active, a.link:active {
    text-decoration: underline;
    color: #4D6D91;
}

a.topSortLink:visited, a.postUser:visited, a.postNumberLink:visited, a.postIpLink:visited, a.link:visited {
    text-decoration: underline;
    color: #4D6D91;
}

a.topSortLink:hover, a.postUser:hover, a.postNumberLink:hover, a.postIpLink:hover, a.link:hover {
    text-decoration: underline;
    color: #000000;
}

a.postPSwithcesLink:link {
    text-decoration: underline;
    color: #4D6D91;
}

a.postPSwithcesLink:active {
    text-decoration: underline;
    color: #4D6D91;
}

a.postPSwithcesLink:visited {
    text-decoration: underline;
    color: #4D6D91;
}

a.postPSwithcesLink:hover {
    text-decoration: underline;
    color: #000000;
}

.replaceTable a:link {
    text-decoration: underline;
    color: #4D6D91;
}

.replaceTable a:active {
    text-decoration: underline;
    color: #4D6D91;
}

.replaceTable a:visited {
    text-decoration: underline;
    color: #4D6D91;
}

.replaceTable a:hover {
    text-decoration: underline;
    color: #000000;
}

.popup a:link {
    text-decoration: underline;
    color: #4D6D91;
}

.popup a:active {
    text-decoration: underline;
    color: #4D6D91;
}

.popup a:visited {
    text-decoration: underline;
    color: #4D6D91;
}

.popup a:hover {
    text-decoration: underline;
    color: #000000;
}

.postTdInfo a:link {
    text-decoration: underline;
    color: #4D6D91;
}

.postTdInfo a:active {
    text-decoration: underline;
    color: #4D6D91;
}

.postTdInfo a:visited {
    text-decoration: underline;
    color: #4D6D91;
}

.postTdInfo a:hover {
    text-decoration: underline;
    color: #000000;
}

.light_l a:link {
    text-decoration: underline;
    color: #D8E2EB;
}

.light_l a:active {
    text-decoration: underline;
    color: #D8E2EB;
}

.light_l a:visited {
    text-decoration: underline;
    color: #D8E2EB;
}

.light_l a:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

a:link {
    text-decoration: underline;
    color: #4D6D91;
}

a:active {
    text-decoration: underline;
    color: #4D6D91;
}

a:visited {
    text-decoration: underline;
    color: #4D6D91;
}

a:hover {
    text-decoration: underline;
    color: #000000;
}

.noforum a:link {
    text-decoration: underline;
    color: #4D6D91;
}

.noforum a:active {
    text-decoration: underline;
    color: #4D6D91;
}

.noforum a:visited {
    text-decoration: underline;
    color: #4D6D91;
}

.noforum a:hover {
    text-decoration: underline;
    color: #000000;
}

td, body {
    font-family: verdana, arial, helvetica;
    font-size: 8pt;
}

form {
    padding: 0px;
    margin: 0px;
}

input, textarea, select {
    vertical-align: middle;
    font-size: 8pt;
    font-family: verdana, arial, helvetica;
}

.copy {
    font-size: 7pt;
}

a.noun:link {
    text-decoration: none;
    color: #4D6D91
}

a.noun:active {
    text-decoration: none;
    color: #4D6D91
}

a.noun:visited {
    text-decoration: none;
    color: #4D6D91
}

a.noun:hover {
    text-decoration: none;
    color: #000000
}

hr {
    color: #8EA8C4;
    height: 1px;
}

label {
    cursor: pointer;
    cursor: hand
}

.blockTitle {
    padding-left: 19px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
    background: url('/.s/t/221/21.gif') no-repeat 7px 6px;
    text-transform: capitalize;
}

a.menu1:link {
    text-decoration: underline;
    color: #DDEEF7
}

a.menu1:visited {
    text-decoration: underline;
    color: #DDEEF7
}

a.menu1:hover {
    text-decoration: underline;
    color: #FFFFFF
}

a.menu1:active {
    text-decoration: underline;
    color: #FFFFFF
}

.menuTd {
    font-family: Tahoma, Arial, Helvetica;
    padding-left: 15px;
    padding-right: 12px;
    background: url('/.s/t/221/22.gif') no-repeat 0px 3px;
}

.mTd {
    padding-left: 12px;
    padding-top: 5px;
    padding-right: 1px;
}

.pageTitle {
    font-family: Tahoma, Arial, Helvetica;
    font-size: 8pt;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
}

.mframe {
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 3px;
}

.blockT1 {
    border-left: 1px solid #5694B5;
}

.blockT2 {
    padding: 5px;
}

/* ------------- */

/* Menus */
ul.uz, ul.uMenuRoot {
    list-style: none;
    margin: 0 0 0 0;
    padding-left: 0px;
}

li.menus {
    margin: 0;
    padding: 0 0 0 13px;
    background: url('/.s/t/221/23.gif') no-repeat 3px 4px;
    margin-bottom: .6em;
}

/* ----- */

/* Site Menus */
.uMenuH li {
    float: left;
    padding: 0 5px;
}

.uMenuV .uMenuItem {
    font-family: Tahoma, Arial, Helvetica;
}

.uMenuV li a:link {
    text-decoration: none;
    color: #4D6D91
}

.uMenuV li a:visited {
    text-decoration: none;
    color: #4D6D91
}

.uMenuV li a:hover {
    text-decoration: none;
    color: #4D6D91;
    font-weight: bold;
}

.uMenuV li a:active {
    text-decoration: none;
    color: #4D6D91;
    font-weight: bold;
}

.uMenuV .uMenuItemA {
    font-weight: bold;
}

.uMenuV a.uMenuItemA:link {
    text-decoration: none;
    color: #4D6D91
}

.uMenuV a.uMenuItemA:visited {
    text-decoration: none;
    color: #4D6D91
}

.uMenuV a.uMenuItemA:hover {
    text-decoration: none;
    color: #4D6D91;
}

.uMenuV .uMenuArrow {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    top: 3px;
    background: url('/.s/img/wd/1/ar1.gif') no-repeat 0 0;
}

.uMenuV li {
    border-bottom: 1px solid #FFFFFF;
    margin: 0 2 0 0px;
    padding: 0 0 2 13px;
    background: url('/.s/t/221/23.gif') no-repeat 3px 4px;
    margin-bottom: .6em;
}

/* --------- */

/* Module Part Menu */
.catsTd {
    padding: 0 0 3px 12px;
    background: url('/.s/t/221/23.gif') no-repeat 2px 4px;
}

.catName {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 11px;
}

.catNameActive {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 11px;
}

.catNumData {
    font-size: 7pt;
    color: #4D6D91;
}

.catDescr {
    font-size: 7pt;
    padding-left: 10px;
}

a.catName:link {
    text-decoration: none;
    color: #4D6D91;
}

a.catName:visited {
    text-decoration: none;
    color: #4D6D91;
}

a.catName:hover {
    text-decoration: underline;
    color: #4D6D91;
}

a.catName:active {
    text-decoration: underline;
    color: #4D6D91;
}

a.catNameActive:link {
    text-decoration: underline;
    color: #4D6D91;
}

a.catNameActive:visited {
    text-decoration: underline;
    color: #4D6D91;
}

a.catNameActive:hover {
    text-decoration: underline;
    color: #4D6D91;
}

a.catNameActive:active {
    text-decoration: underline;
    color: #4D6D91;
}

/* ----------------- */

/* Entries Style */
.eBlock {
}

.eTitle {
    font-family: Arial, Sans-Serif;
    font-size: 15px;
    font-weight: bold;
    color: #4D6D91;
    padding: 0 0 0 23px;
    background: url('/.s/t/221/24.gif') no-repeat 1px 3px;
}

.eMessage {
    text-align: justify;
    padding-bottom: 5px;
}

.eText {
    text-align: justify;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 1px dashed #C1D2DE;
}

.textHr {
    color: #DDDDDD;
    height: 1px;
    border: 1px dashed #DDDDDD;
}

.eDetails {
    border-top: 1px dashed #C1D2DE;
    border-bottom: 1px dashed #C1D2DE;
    font-family: Tahoma, Arial, Sans-Serif;
    color: #1A1A1A;
    padding-bottom: 5px;
    padding-top: 3px;
    text-align: left;
    font-size: 7pt;
}

.eDetails1 {
    border-top: 1px dashed #C1D2DE;
    border-bottom: 1px dashed #C1D2DE;
    font-family: Tahoma, Arial, Sans-Serif;
    color: #1A1A1A;
    padding-bottom: 5px;
    padding-top: 3px;
    text-align: left;
    font-size: 8pt;
}

.eDetails2 {
    border-bottom: 1px dashed #C1D2DE;
    font-family: Tahoma, Arial, Sans-Serif;
    color: #1A1A1A;
    padding-bottom: 5px;
    padding-top: 3px;
    text-align: left;
    font-size: 8pt;
}

.eRating {
    font-size: 7pt;
}

.eAttach {
    margin: 16px 0 0 0;
    padding: 0 0 0 15px;
    background: url('/.s/t/221/25.gif') no-repeat 0px 0px;
}

/* ------------- */

/* Entry Manage Table */
.manTable {
}

.manTdError {
    color: #FF0000;
}

.manTd1 {
}

.manTd2 {
}

.manTd3 {
}

.manTdSep {
}

.manHr {
}

.manTdBrief {
}

.manTdText {
}

.manTdFiles {
}

.manFlFile {
}

.manTdBut {
}

.manFlSbm {
}

.manFlRst {
}

.manFlCnt {
}

/* ------------------ */

/* Comments Style */
.cAnswer {
    padding-left: 15px;
    padding-top: 4px;
    font-style: italic;
}

.cBlock1 {
    border: 1px solid #8EA8C4;
    background: #EDF6FE;
}

.cBlock2 {
    border: 1px solid #8EA8C4;
    background: #EDF6FE;
}

/* -------------- */

/* Comments Form Style */
.commTable {
}

.commTd1 {
    color: #000000;
}

.commTd2 {
}

.commFl {
    width: 100%;
}

.smiles {
    border: 1px inset;
    background: #FAFCFE;
}

.commReg {
    padding: 10 0 10 0px;
    text-align: center;
}

.commError {
    color: #FF0000;
}

.securityCode {
}

/* ------------------- */

/* News/Blog Archive Menu */
.archUl {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.archLi {
    padding: 0 0 3px 10px;
    background: url('/.s/t/221/34.gif') no-repeat 0px 4px;
}

.archActive {
    text-decoration: underline;
}

.archLi {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 11px;
}

a.archLink:link {
    text-decoration: none;
    color: #4D6D91;
}

a.archLink:visited {
    text-decoration: none;
    color: #4D6D91;
}

a.archLink:hover {
    text-decoration: underline;
    color: #4D6D91;
}

a.archLink:active {
    text-decoration: underline;
    color: #4D6D91;
}

/* ---------------------- */

/* News/Blog Archive Style */
.archiveCalendars {
    text-align: center;
    color: #0000FF;
}

.archiveDateTitle {
    font-weight: bold;
    color: #4D6D91;
    padding-top: 15px;
}

.archEntryHr {
    width: 250px;
    color: #DDDDDD;
}

.archiveeTitle li {
    margin-left: 15px;
    padding: 0 0 0 15px;
    background: url('/.s/t/221/35.gif') no-repeat 0px 3px;
    margin-bottom: .6em;
}

.archiveEntryTime {
    width: 65px;
    font-style: italic;
}

.archiveEntryComms {
    font-size: 9px;
    color: #C3C3C3;
}

a.archiveDateTitleLink:link {
    text-decoration: none;
    color: #4D6D91
}

a.archiveDateTitleLink:visited {
    text-decoration: none;
    color: #4D6D91
}

a.archiveDateTitleLink:hover {
    text-decoration: underline;
    color: #4D6D91
}

a.archiveDateTitleLink:active {
    text-decoration: underline;
    color: #4D6D91
}

.archiveNoEntry {
    text-align: center;
    color: #0000FF;
}

/* ------------------------ */

/* News/Blog Calendar Style */
.calMonth {
    text-align: right;
}

.calWday {
    background: #BED0DC;
    width: 17px;
}

.calWdaySe {
    background: #1A73A3;
    width: 17px;
    font-weight: bold;
    color: #FFFFFF;
}

.calWdaySu {
    background: #1A73A3;
    width: 17px;
    font-weight: bold;
    color: #FFFFFF;
}

.calMday {
    border: 1px inset;
    background: #FFFFFF;
}

.calMdayA {
    border: 1px inset;
    background: #8DACC2;
    font-weight: bold;
    color: #FFFFFF;
}

.calMdayIs {
    border: 1px solid #1A73A3;
    background: #EFEFEF;
}

.calMdayIsA {
    border: 1px solid #1A73A3;
    background: #EFEFEF;
    font-weight: bold;
}

a.calMonthLink:link {
    text-decoration: none;
    color: #4D6D91;
}

a.calMonthLink:visited {
    text-decoration: none;
    color: #4D6D91;
}

a.calMonthLink:hover {
    text-decoration: underline;
    color: #4D6D91;
}

a.calMonthLink:active {
    text-decoration: underline;
    color: #000000;
}

a.calMdayLink:link {
    text-decoration: underline;
    color: #4D6D91;
}

a.calMdayLink:visited {
    text-decoration: underline;
    color: #4D6D91;
}

a.calMdayLink:hover {
    text-decoration: underline;
    color: #000000;
}

a.calMdayLink:active {
    text-decoration: underline;
    color: #000000;
}

/* ------------------------ */

/* Poll styles */
.pollBut {
    width: 110px;
}

.pollBody {
    padding: 7px;
    margin: 0px;
    background: #FFFFFF
}

.textResults {
    background: #E2E6EA
}

.textResultsTd {
    background: #FFFFFF
}

.pollNow {
    border-bottom: 1px solid #E2E6EA;
    border-left: 1px solid #E2E6EA;
    border-right: 1px solid #E2E6EA;
}

.pollNowTd {
}

.totalVotesTable {
    border-bottom: 1px solid #E2E6EA;
    border-left: 1px solid #E2E6EA;
    border-right: 1px solid #E2E6EA;
}

.totalVotesTd {
    background: #FFFFFF
}

/* ---------- */

/* User Group Marks */
a.groupModer:link, a.groupModer:visited, a.groupModer:hover {
    color: blue;
}

a.groupAdmin:link, a.groupAdmin:visited, a.groupAdmin:hover {
    color: red;
}

a.groupVerify:link, a.groupVerify:visited, a.groupVerify:hover {
    color: green;
}

/* ---------------- */

/* Other Styles */
.replaceTable {
    background: #F5F9FD;
    height: 100px;
    width: 300px;
    border: 1px solid #597798;
}

.legendTd {
    font-size: 7pt;
}

/* ------------ */

/* ===== forum Start ===== */

/* General forum Table View */
.gTable {
    background: #597798
}

.gTableTop {
    padding: 2px;
    background: #597798;
    color: #E2EBF5;
    font-weight: bold;
    height: 40px;
    padding-left: 10px;
    padding-top: 13px;
    font-size: 10pt;
    background-image: url('/.s/t/221/37.gif');
}

.gTableSubTop {
    padding: 2px;
    background: #ACC6E5;
    color: #000000;
    height: 19px;
    background-image: url('/.s/t/221/20.gif');
}

.gTableBody {
    padding: 2px;
    background: #EFF3FE;
}

.gTableBody1 {
    padding: 2px;
    background: #FFFFFF;
}

.gTableBottom {
    padding: 2px;
    background: #EFF3FE;
}

.gTableLeft {
    padding: 2px;
    background: #E7EEF8;
    font-weight: bold;
    color: #4D6D91
}

.gTableRight {
    padding: 2px;
    background: #F5F9FD
}

.gTableError {
    padding: 2px;
    background: #EFF3FE;
    color: #FF0000;
}

/* ------------------------ */

/* Forums Styles */
.forumNameTd, .forumLastPostTd {
    padding: 2px;
    background: #FFFFFF
}

.forumIcoTd, .forumThreadTd, .forumPostTd {
    padding: 2px;
    background: #EFF3FE
}

.forumLastPostTd, .forumArchive {
    padding: 2px;
    font-size: 7pt;
}

a.catLink:link {
    text-decoration: none;
    color: #E2EBF5;
}

a.catLink:visited {
    text-decoration: none;
    color: #E2EBF5;
}

a.catLink:hover {
    text-decoration: underline;
    color: #E2EBF5;
}

a.catLink:active {
    text-decoration: underline;
    color: #E2EBF5;
}

.lastPostGuest, .lastPostUser, .threadAuthor {
    font-weight: bold
}

.archivedForum {
    font-size: 7pt;
    color: #FF0000;
    font-weight: bold;
}

/* ------------- */

/* forum Titles & other */
.forum {
    font-weight: bold;
    font-size: 9pt;
}

.forumDescr, .forumModer {
    color: #858585;
    font-size: 7pt;
}

.forumViewed {
    font-size: 9px;
}

a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {
    text-decoration: none;
    color: #4D6D91;
}

a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {
    text-decoration: none;
    color: #4D6D91;
}

a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {
    text-decoration: underline;
    color: #6F8EB3;
}

a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {
    text-decoration: underline;
    color: #4D6D91;
}

/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 7pt;
}

.forumBarKw {
    font-weight: normal;
}

a.forumBarA:link {
    text-decoration: none;
    color: #000000;
}

a.forumBarA:visited {
    text-decoration: none;
    color: #000000;
}

a.forumBarA:hover {
    text-decoration: none;
    color: #4D6D91;
}

a.forumBarA:active {
    text-decoration: underline;
    color: #4D6D91;
}

/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav, .fastSearch, .fastLoginForm {
    font-size: 7pt;
}

/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {
    background: #C7D7EF;
}

.fastNavCat {
    background: #E7EEF8;
}

.fastNavCatA {
    background: #E7EEF8;
    color: #0000FF
}

.fastNavForumA {
    color: #0000FF
}

/* -------------------------- */

/* forum Page switches */
.switches {
    background: #8DACC2;
}

.pagesInfo {
    background: #FFFFFF;
    padding-right: 10px;
    font-size: 7pt;
}

.switch {
    background: #FFFFFF;
    width: 15px;
    font-size: 7pt;
}

.switchActive {
    background: #446F91;
    font-weight: bold;
    color: #FFFFFF;
    width: 15px
}

a.switchDigit:link, a.switchBack:link, a.switchNext:link {
    text-decoration: none;
    color: #000000;
}

a.switchDigit:visited, a.switchBack:visited, a.switchNext:visited {
    text-decoration: none;
    color: #000000;
}

a.switchDigit:hover, a.switchBack:hover, a.switchNext:hover {
    text-decoration: underline;
    color: #FF0000;
}

a.switchDigit:active, a.switchBack:active, a.switchNext:active {
    text-decoration: underline;
    color: #FF0000;
}

/* ------------------- */

/* forum Threads Style */
.threadNametd, .threadAuthTd, .threadLastPostTd {
    padding: 2px;
    padding: 2px;
    background: #FFFFFF
}

.threadIcoTd, .threadPostTd, .threadViewTd {
    padding: 2px;
    background: #EFF3FE
}

.threadLastPostTd {
    padding: 2px;
    font-size: 7pt;
}

.threadDescr {
    color: #858585;
    font-size: 7pt;
}

.threadNoticeLink {
    font-weight: bold;
}

.threadsType {
    padding: 2px;
    background: #EFF3FE;
    height: 25px;
    font-weight: bold;
    font-size: 7pt;
    color: #4D6D91;
    padding-left: 40px;
}

.threadsDetails {
    padding: 2px;
    background: #EFF3FE;
    height: 25px;
    color: #4D6D91;
}

.forumOnlineBar {
    padding: 2px;
    background: #EFF3FE;
    height: 25px;
    color: #4D6D91;
}

a.threadPinnedLink:link {
    text-decoration: none;
    color: #0000FF;
}

a.threadPinnedLink:visited {
    text-decoration: none;
    color: #0000FF;
}

a.threadPinnedLink:hover {
    text-decoration: none;
    color: #FF0000;
}

a.threadPinnedLink:active {
    text-decoration: underline;
    color: #FF0000;
}

a.threadLink:link {
    text-decoration: none;
    color: #4D6D91;
}

a.threadLink:visited {
    text-decoration: none;
    color: #4D6D91;
}

a.threadLink:hover {
    text-decoration: underline;
    color: #000000;
}

a.threadLink:active {
    text-decoration: underline;
    color: #000000;
}

.postpSwithces {
    font-size: 7pt;
}

.thDescr {
    font-weight: normal;
}

.threadFrmBlock {
    font-size: 7pt;
    text-align: right;
}

/* ------------------- */

/* Posts View */
.postTable {
    background: #9DBBCF;
}

.postPoll {
    background: #EEF2F7;
    text-align: center;
}

.postFirst {
    background: #F5F9FD;
    border-bottom: 3px solid #597798;
}

.postRest1 {
    background: #EEF2F7;
}

.postRest2 {
    background: #F5F9FD;
}

.postSeparator {
    height: 3px;
    background: #8394B2;
}

.postTdTop {
    height: 19px;
    background-image: url('/.s/t/221/20.gif');
}

.postBottom {
    background: #D1DCEB;
    height: 20px
}

.postUser {
    font-weight: bold;
}

.postTdInfo {
    text-align: center;
    padding: 5px;
    background: #EEF2F7
}

.postRankName {
    margin-top: 5px;
}

.postRankIco {
    margin-bottom: 5px;
    margin-bottom: 5px;
}

.reputation {
    margin-top: 5px;
}

.signatureHr {
    margin-top: 20px;
    color: #597798;
}

.posttdMessage {
    padding: 5px;
    background: #FFFFFF;
}

.postPoll {
    padding: 5px;
}

.pollQuestion {
    text-align: center;
    font-weight: bold;
}

.pollButtons, .pollTotal {
    text-align: center;
}

.pollSubmitBut, .pollreSultsBut {
    width: 140px;
    font-size: 7pt;
}

.pollSubmit {
    font-weight: bold;
}

.pollEnd {
    text-align: center;
    height: 30px;
}

.codeMessage {
    background: #FFFFFF;
    font-size: 9px;
}

.quoteMessage {
    background: #FFFFFF;
    font-size: 9px;
}

.signatureView {
    font-size: 7pt;
}

.edited {
    padding-top: 30px;
    font-size: 7pt;
    text-align: right;
    color: gray;
}

.editedBy {
    font-weight: bold;
    font-size: 8pt;
}

.statusBlock {
    padding-top: 3px;
}

.statusOnline {
    color: #0000FF;
}

.statusOffline {
    color: #FF0000;
}

/* ---------- */

/* forum AllInOne Fast Add */
.newThreadBlock {
    background: #F9F9F9;
    border: 1px solid #B2B2B2;
}

.newPollBlock {
    background: #F9F9F9;
    border: 1px solid #B2B2B2;
}

.newThreadItem {
    padding: 0 0 0 8px;
    background: url('/.s/t/221/38.gif') no-repeat 0px 4px;
}

.newPollItem {
    padding: 0 0 0 8px;
    background: url('/.s/t/221/38.gif') no-repeat 0px 4px;
}

/* ----------------------- */

/* forum Post Form */
.codeButtons {
    font-size: 7pt;
    background: #FFFFFF;
    border: 1px solid #4D6D91;
}

.codeCloseAll {
    font-size: 7pt;
    color: #4D6D91;
    font-weight: bold;
    background: #FFFFFF;
    border: 1px solid #4D6D91;
}

.postNameFl, .postDescrFl {
    width: 400px
}

.postPollFl, .postQuestionFl {
    width: 400px
}

.postResultFl {
    width: 50px
}

.postAnswerFl {
    width: 300px
}

.postTextFl {
    width: 550px;
    height: 150px
}

.postUserFl {
    width: 300px
}

.pollHelp {
    font-weight: normal;
    font-size: 7pt;
    padding-top: 3px;
}

.smilesPart {
    padding-top: 5px;
    text-align: center
}

/* ----------------- */

/* ====== forum End ====== */